---
import { Article } from '$components/article-layout.tsx'
import { Body } from '$components/body.tsx'
import { Main } from '$components/main.tsx'
import Comments from '$layouts/comments.astro'
import Layout from '$layouts/layout.astro'
import * as components from '$layouts/markdown'
import { type ArticleEntry, getArticles } from '$lib/articles.ts'
import { getBio } from '$lib/bio.ts'

export async function getStaticPaths() {
  const articles = await getArticles()

  return articles.map((article) => ({
    params: { slug: article.slug },
    props: article,
  }))
}

type Props = ArticleEntry

const article = Astro.props
const { title, description } = article.data
const [{ Content }, bio] = await Promise.all([article.render(), getBio()])
---

<Layout title={title} description={description}>
  <Body>
    <Main bio={bio.data}>
      <Article article={article.data}>
        <Content components={components} />
      </Article>
      <Comments />
    </Main>
  </Body>
</Layout>
