---
import { ArticleList } from '$components/articles.tsx'
import { Body } from '$components/body.tsx'
import { Main } from '$components/main.tsx'
import Layout from '$layouts/layout.astro'
import { getArticles } from '$lib/articles.ts'
import { getBio } from '$lib/bio.ts'

const TITLE = 'Michael Cousins'
const DESCRIPTION = "Michael Cousins' personal website."

const [articleEntries, bio] = await Promise.all([getArticles(), getBio()])
---

<Layout title={TITLE} description={DESCRIPTION}>
  <Body>
    <Main bio={bio.data} isHome={true}>
      <ArticleList entries={articleEntries} />
    </Main>
  </Body>
</Layout>
