---
import { Body } from '$components/body.tsx'
import { Resume as ResumePage } from '$components/resume.tsx'
import Layout from '$layouts/layout.astro'
import { getBio } from '$lib/bio.ts'
import { getJobs } from '$lib/jobs.ts'
import { getProjects } from '$lib/projects.ts'

const TITLE = "Michael Cousins' Résumé"
const DESCRIPTION = "A selection of Michael Cousins' accomplishments and skills"

const site = Astro.site
const [bio, jobs, projects] = await Promise.all([
  getBio(),
  getJobs(),
  getProjects(),
])
---

<Layout title={TITLE} description={DESCRIPTION}>
  <Body class="bg-gray-800">
    <ResumePage bio={bio.data} jobs={jobs} projects={projects} site={site} />
  </Body>
</Layout>
