---
import '@fontsource-variable/open-sans'

import { ViewTransitions } from 'astro:transitions'

import { Main } from '$components/main.tsx'
import faviconIco from '$images/favicon.ico'
import faviconSvg from '$images/favicon.svg'

interface Props {
  title?: string
  description?: string
}

const SITE_TITLE = 'Michael Cousins'
const SITE_DESCRIPTION = "Michael Cousins' personal website."
const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href={faviconIco} sizes="any" />
    <link rel="icon" href={faviconSvg.src} type="image/svg+xml" />
    <ViewTransitions />
  </head>
  <Main urlPathname={Astro.url.pathname}>
    <slot />
  </Main>
</html>
